{% extends "base.html" %}
{% block title %}Subnet anlegen{% endblock title %}
{% block content %}
<h1>Subnet anlegen</h1>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<form method="post" action="/subnets">
  <label>
    Name<br />
    <input name="name" required />
  </label>
  <br /><br />

  <label>
    CIDR (z. B. 192.168.174.0/24)<br />
    <input name="cidr" required />
  </label>
  <br /><br />

  <label>
    DNS Zone (optional)<br />
    <input name="dns_zone" />
  </label>
  <br /><br />

  <label>
    Reverse Zone (optional)<br />
    <input name="reverse_zone" />
  </label>
  <br /><br />

  <label>
    NTP Server (optional, IPv4)<br />
    <input name="ntp_server" placeholder="z. B. 10.70.99.33" />
  </label>
  <br /><br />

  <label>
    DHCP Pool Start (optional, IPv4)<br />
    <input name="dhcp_pool_start" placeholder="z. B. 192.168.174.50" />
  </label>
  <br /><br />

  <label>
    DHCP Pool End (optional, IPv4)<br />
    <input name="dhcp_pool_end" placeholder="z. B. 192.168.174.200" />
  </label>
  <br /><br />


  <label>
    DHCP enabled
    <input type="checkbox" name="dhcp_enabled" value="true" />
  </label>
  <br /><br />

  <label>
    PXE enabled
    <input type="checkbox" name="pxe_enabled" value="true" />
  </label>
  <br /><br />

  <button type="submit">Speichern</button>
</form>
{% endblock content %}
